﻿{% extends "../base.html" %}

{% block title %}フレンド登録完了 - INIAD Encounter Manager{% endblock %}
{% block head %}
<meta http-equiv="Refresh" content="3; url={% url 'index' %}" />
{% endblock %}

{% block content %}
<h1 class="mt-3">友達登録</h1>
<p>友達登録に成功しました。<br>3秒後にトップページへ移動します。。。</p>
{% endblock %}