﻿{% extends "../base.html" %}

{% block title %}フレンドコード - INIAD Encounter Manager{% endblock %}

{% block content %}
<h1 class="mt-3">友達登録</h1>
<p id="message">QRコードを発行中です。しばらくお待ちください。</p>
<img src="{{ qr_url }}" alt="友達登録のためのQRコード" onload="loaded()">
<script>
    function loaded() {
        document.getElementById("message").textContent = "時間割情報を共有するには、相手に以下のQRコードを提示してください。"
    }
</script>
{% endblock %}