﻿{% extends "../base.html" %}

{% block title %}フレンド登録完了 - INIAD Encounter Manager{% endblock %}
{% block content %}
<h1 class="mt-3">友達登録</h1>
<p>QRコードを提示したユーザーがあなたの時間割情報にアクセスすることを許可しますか？<br></p>
<form name="form1" action="{% url 'friend_register' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="fcode" value="">
    <input name="Submit1" type="button" value="はい" style="width: 200px" onclick="yesEvent()" class="btn btn-primary btn-lg"><br>
    <a href="{% url 'index' %}"><input name="Button1" type="button" value="いいえ" style="width: 200px" class="btn btn-danger btn-lg"></a>
</form>
<script>
	function yesEvent(){
	document.form1.fcode.value="{{ qr_key }}";
	document.form1.submit();
	}
</script>
{% endblock %}