﻿{% extends "./base.html" %}

{% block title %}このアプリについて - INIAD Encounter Manager{% endblock %}

{% block content %}
<h1 class="mt-3">このアプリについて</h1>
<p>
    本アプリはエンカすることを主眼においた、ブラウザ上で使える新しい時間割アプリです。
    <br>
</p>

<h2>開発メンバー</h2>
<h3>1F10200020　鬼ちゃん</h3>
<p>「大学は勉強ではなくエンカをする場所だ」などと意味不明な供述をしてアプリの企画を立てる等</p>
<h3>1F10200032　玉邑鴻之介</h3>
<p>
    INIADアカウントによる認証<br />
    友達管理ページ<br />
    設定画面<br />
    コース詳細画面等
</p>
<h3>1F10200064　JIN HONGKAI</h3>
<p>
    HTML、CSSの作成<br />
    時間割登録機能の作成<br />
    エンカウント可能判定<br />
    データベース準備<br />
    鬼ちゃんが書いたクソコードの修正等
</p>
<h2>ライセンス</h2>
<h4>Python Social Auth - Django</h4>
<p>
    Copyright (c) 2012-2016, Matías Aguirre<br>All rights reserved.<br><br>
    Redistribution and use in source and binary forms, with or without modification,<br>
    are permitted provided that the following conditions are met:<br><br>1.
    Redistributions of source code must retain the above copyright notice,<br>this
    list of conditions and the following disclaimer.<br><br>2. Redistributions in
    binary form must reproduce the above copyright<br>notice, this list of
    conditions and the following disclaimer in the<br>documentation and/or other
    materials provided with the distribution.<br><br>3. Neither the name of this
    project nor the names of its contributors may be<br>used to endorse or promote
    products derived from this software without<br>specific prior written
    permission.<br><br>THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND
    CONTRIBUTORS "AS IS" AND<br>ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT
    NOT LIMITED TO, THE IMPLIED<br>WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A
    PARTICULAR PURPOSE ARE<br>DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR
    CONTRIBUTORS BE LIABLE FOR<br>ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
    EXEMPLARY, OR CONSEQUENTIAL DAMAGES<br>(INCLUDING, BUT NOT LIMITED TO,
    PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;<br>LOSS OF USE, DATA, OR PROFITS;
    OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON<br>ANY THEORY OF LIABILITY,
    WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT<br>(INCLUDING NEGLIGENCE OR
    OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS<br>SOFTWARE, EVEN IF
    ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
</p>

{% endblock %}