{% extends "./base.html" %}

{% block title %}コース詳細 - INIAD Encounter Manager{% endblock %}

{% block content %}
<h2 class="mt-3">コース詳細</h2>

<h4 class="mt-3">同じ授業を履修しているお友達</h4>
{% for name in same_class_friends %}
<p>{{name}}</p>
{% empty %}
<p>該当するユーザーはいません。</p>
<br>
{% endfor %}

<h4 class="mt-3">この時間に別の授業があるお友達</h4>
{% for name in same_time_friends %}
<p>{{name}}</p>
{% empty %}
<p>該当するユーザーはいません。</p>
<br>
{% endfor %}

<form action="{% url 'course' weekday period %}" method="post">
    {% csrf_token %}
    <h4 class="mt-3">コース設定</h4>
    <div class="input-group mb-3">
        <span class="input-group-text">別名</span>
        <div class="col-auto">
            <input type="text" class="form-control" id="alias" name="alias" value="{{ alias }}">
        </div>
    </div>
    <div class="form-check">
        <input type="checkbox" class="form-check-input" id="check_in_person" name="in_person" value="in_person" {% if in_person %} checked{% endif %}>
        <label class="form-check-label" for="check_in_person">対面授業として登録</label>
    </div>
    <br>
    <input class="btn btn-primary" type="submit" value="適用">
</form>
{% endblock %}