﻿{% extends "./base.html" %}

{% block title %}フレンド - INIAD Encounter Manager{% endblock %}

{% block content %}
<h1 class="mt-3">フレンド</h1>

<table class="table table-striped" style="display:inline-block;">
    <thead>
        <tr>
            <th class="text-center text-primary" scope="col" style="width:10em">メールアドレス</th>
            <th class="text-primary col" scope="col">名前</th>
            <th class="text-center text-primary col" scope="col">
                <a href="{% url 'friend_code' %}"><button class="btn btn-outline-primary btn-sm">＋</button></a>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for friend in friends %}
        <tr>
            <td>{{ friend.email }}</td>
            <td class="col-auto">{{ friend.name }}</td>
            <td><button type="button" class="btn btn-outline-danger btn-sm" data-email="{{ friend.email }}" onclick="friend_delete(this.dataset.email);">削除</button></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="3"><p class="lead">友達はいません。</p></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<form name="delform" action="{% url 'friends' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="delete" value="">
</form>
<script type="text/javascript">
    function friend_delete(email) {
        document.delform.delete.value = email;
        document.delform.submit();
    }
</script>
{% endblock %}