﻿{% extends "./base.html" %}

{% block content %}
<h1 class="mt-1">Welcome to INIAD Encounter Manager</h1>

<p class="lead">Hello, {{ request.student.name }}</p>

<table class="table table-bordered table-responsive table-striped border-info" style="table-layout: fixed">
    <thead>
        <tr>
            <th class="text-primary" scope="col" style="width:4em">#</th>
            <th id="weekday-1" class="text-center text-primary" scope="col">月</th>
            <th id="weekday-2" class="text-center text-primary" scope="col">火</th>
            <th id="weekday-3" class="text-center text-primary" scope="col">水</th>
            <th id="weekday-4" class="text-center text-primary" scope="col">木</th>
            <th id="weekday-5" class="text-center text-primary" scope="col">金</th>
        </tr>
    </thead>
    <tbody>
        {% for c in courses %}
        {% cycle '09:00～10:30' '10:40～12:10' '13:00～14:30' '14:45～16:15' '16:30～18:00' '18:15～19:45' as timespan silent %}
        <tr>
            <th scope="row">
                <p class="text-primary">{% cycle '1限' '2限' '3限' '4限' '5限' '6限' %}</p>{{ timespan }}
            </th>
            {% for w in c %}
            <td {% if w.status %}class="table-{{ w.status }}" {% endif %}><a{% if w.weekday %} href="{% url 'course' w.weekday w.period %}" {% endif %}>{{ w.name }}</a></td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}