{% extends "./base.html" %}

{% block title %}時間割登録 - INIAD Encounter Manager{% endblock %}

{% block content %}
{% if request.GET.method == "toyoapi" %}
<h2 class="mt-3">インポートに失敗しました</h2>
<p>時間をおいてから再度お試しください。</p>
<br>
<p>エラー情報：<br>{{ error }}</p>
{% else %}
<h2 class="mt-3">時間割情報の登録方法を選択してください</h2>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#iniaddedModal">INIADdedからインポート</button>
<br>
<br>
<!--<a>href="{% url 'register' %}?method=iniadded"</a>-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#toyoapiModal">東洋大APIからインポート</button>

<div id="iniaddedModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">INIADdedからインポート</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="lead">まず、<a href="https://chrome.google.com/webstore/detail/iniadded-extension/ccelhacgnhibfknbmionjggknookmall" target="_blank">INIADded 拡張機能</a>をインストールしてください。</p>
                <p><a href="https://g-sys.toyo.ac.jp/univision/action/in/f08/Usin080111" target="_blank">ToyoNet-Gの履修登録確認ページ</a>下部にある<br>「Export to clipboard」ボタンを押し、<br>内容をペーストしてください。</p>
                <form id="iniaddedForm" class="form-inline" action="{% url 'register' %}?method=iniadded" method="post">
                    {% csrf_token %}
                    <textarea class="form-control" name="coursedata" rows="10" placeholder="ここにペーストしてください"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="document.getElementById('iniaddedForm').submit();">実行</button>
            </div>
        </div>
    </div>
</div>

<div id="toyoapiModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">東洋大APIからインポート</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="lead">東洋大 API からインポートするには、ToyoNet ID のパスワードが必要です。</p>
                <form id="toyoapiForm" class="form-inline" action="{% url 'register' %}?method=toyoapi" method="post">
                    {% csrf_token %}
                    <input class="form-control" name="password" type="password" placeholder="ToyoNet ID のパスワード"></textarea>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="document.getElementById('toyoapiForm').submit();">実行</button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}