﻿{% extends "./base.html" %}

{% block title %}設定 - INIAD Encounter Manager{% endblock %}

{% block content %}
<h1 class="mt-3">設定</h1>
<form class="form-inline" action="{% url 'settings' %}" method="post">
    {% csrf_token %}
    <div class="input-group mb-3">
        <span class="input-group-text">表示名</span>
        <div class="col-auto">
            <input type="text" class="form-control" id="dispname" name="dispname" value="{{ request.student.name }}">
        </div>
        <input type="submit" class="btn btn-primary" value="変更">
    </div>
</form>
<a href="{% url 'register' %}"><button class="btn btn-success">時間割の再登録</button></a>
{% endblock %}